aside.login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff2;
    color: #fff;
    
    box-shadow: 0 2px 23px 0 rgba(250,250,250,0.1),
    0 2px 49px  0 rgba(250,250,250,0.06);

    width: 400px;
    height: 400px;

    margin-left: 150px;
    padding: 0 25px;

    border-radius: 10px;
}